# Python
*.py[cod]
__pycache__/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
media/

# Ambiente Virtual
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Arquivos do Sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos de cache
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Arquivos de cobertura de teste
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover